details {
    padding:10px;
}
summary {
    background-color:cornflowerblue;
    width:60%;
    padding:10px;
}
.answer {
    background-color:skyblue;
    width:60%;
    padding:10px;
}
summary.info {
    background-color:lightsalmon;
    width:60%;
    padding:10px;
}
.answer-info {
    background-color:peachpuff;
    width:60%;
    padding:10px;
}
summary.advanced {
    background-color:lightgreen;
    width:60%;
    padding:10px;
}
.answer-advanced {
    background-color:#C1FFC1;
    width:60%;
    padding:10px;
}
.glossary {
        text-decoration:underline;
}
div.pseudoterminal {
        background-color:black;
        color:antiquewhite;
        font-family:monospace;
        width:60%;
        padding:10px;
}
span.pseudoterminal {
        background-color:grey;
        color:antiquewhite;
        font-family:monospace;
        padding:3px;
}
.path {
        font-family:monospace;
        color:#1F45FC;
        background-color:#EBF4FA;
        font-weight:bold;
        padding:3px;
}
button {
        font-family:monospace;
                border-style:outset;
}
.mono {
        font-family:monospace;
        font-weight:bold;
}
.centered {
        vertical-align:-0.125em;
}
